<marquee><iframe src="https://giphy.com/embed/jwaOyMu8Z3X9LOjkpC" width="480" height="100" style="" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/stickers/mitulkadakia-mitul-mkpro-sm365-jwaOyMu8Z3X9LOjkpC"></a></p></marquee>
<div class="ekart--product--container">
    <!-- <p>Name: {{product.name }}</p>
<p>Price: {{ product.price }}</p>
<p>Color: {{ product.color }}</p>
<p>Discounted Price: {{ getDiscountedPrice() }}</p> -->
<app-search></app-search>
<product-list></product-list>
<!-- <div *ngFor="let item of listOfString">
    <p> {{ item }} </p>
</div> -->

</div>
